
<div   class="container mt-5">
  
  <div class="row" *ngIf="createNewProduct">
    <div class="col-lg-12">
      <fieldset>
        <legend><h5><b>New Product</b></h5></legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="name" name="name" [(ngModel)]="product.name" required  />

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Price</label>
                    <div class="col-md-8">
                        <input class="form-control" id="price" name="price" [(ngModel)]="product.price" required  />

                    </div>
                  </div>               

               

                <div class="form-group">
                  <label class="control-label col-md-4">&nbsp;</label>
                  <div class="col-md-8">
                      <input type="button" value="Save" class="btn btn-primary" (click)="SaveProduct()" style="float: left;" id="btnSave"  />
  
  
                  </div>
              </div>
            </div>


            <div class="col-md-6">

                <div class="form-group">
                    <label class="control-label col-md-4">Description</label>
                    <div class="col-md-8">
                        <input class="form-control" id="description" [(ngModel)]="product.description" name="description" required  />

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Add Picture</label>
                    <div class="col-md-8">
                        <!-- <input class="form-control" id="photoUrl" [(ngModel)]="product.photoUrl" name="photoUrl" required  />-->
                        <input type="file" (change)="OnFileChange($event)"/> 

                    </div>
                </div>
               
                <div class="form-group">
                  <label class="control-label col-md-4">&nbsp;</label>
                  <div class="col-md-8">
                    <input class="form-control" style="display: none;" id="productId" name="productId" [(ngModel)]="product.productId" required display="false" />
                    
                  </div>
              </div>
            </div>
        </div>
    </fieldset>
    <hr />
  
    </div>
  </div>

  
  <div class="row" *ngIf="!createNewProduct">
    <div class="row" > 
      <div class="col-lg-12">        
         
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="control-label col-md-4">&nbsp;</label>
                      <div class="col-md-8">                        
                          <button  id="btnNewProduct"  class="ml-auto btn hvr-hover btn btn-success" (click)="CreateNewProduct()" >New Product</button> 
                      </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                      <label class="control-label col-md-4">&nbsp;</label>
                      <div class="col-md-8">                          
                       
                      </div>
                  </div>
                </div>
              </div>
      </div> 

      </div>
    <div class="row" >      
      <div class="col-lg-12">
          <div class="table-main table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Images</th >
                          <th>Product Name</th>                          
                          <th>Description</th>
                          <th>Price</th>
                          <th>Remove</th>
                          <th>Edit</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let product of products">
                          <td class="thumbnail-img">
                              <a href="#">
        <img class="img-fluid" src="{{product.photoUrl}}" alt="" />
      </a>
                          </td>
                          <td class="name-pr">
                              
                                {{product.name}}
      
                          </td>

                          <td class="total-pr">
                            <p> {{product.description}}</p>
                        </td>
                          <td class="price-pr">
                              <p>$ {{product.price}}</p>
                          </td>
                          
                          
                          <td class="remove-pr">
                             
        <i class="fa fa-remove" (click)= "removeProduct(product)"></i>
     
                          </td>
                          <td class="remove-pr">
                             
                            <i class="fa fa-edit" (click)= "EditProduct(product)"></i>
                         
                            </td>
                      </tr>
                     
                  </tbody>
              </table>
          </div>
      </div>
  </div>
