<form #registerForm = "ngForm" (ngSubmit) = "login()" class="dialog-body" >
  <h2 class="text-center text-primary">Sign In</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" name="username" required placeholder="Username" [(ngModel)]="model.username">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" name="password" required  placeholder="Password" [(ngModel)]="model.password">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Sign In</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
  
</form>



<!-- <div class="dialog-container" >
  <div class="dialog" style="text-align: center;">
      <div class="dialog-title">
        
 
        <form #registerForm = "ngForm" (ngSubmit) = "login()" class="dialog-body" >
          <h2 class="text-center text-primary">Sign In</h2>
          <hr>
        
          <div class="form-group">
            <input type="text" class="form-control" name="username" required placeholder="Username" [(ngModel)]="model.username">
          </div>
        
          <div class="form-group">
            <input type="password" class="form-control" name="password" required  placeholder="Password" [(ngModel)]="model.password">
          </div>
        
          <div class="form-group text-center">
            <button class="btn btn-success" type="submit">Sign In</button>
            <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
          </div>
          
        </form>
        
     
      <div class="dialog-buttons">
          <button class="btn btn-secondary mr-auto" >Cancel</button>
         
          <button class="btn btn-success ml-auto" >Order </button>
      </div>
  </div>
</div> -->
